.about {
  padding: 7% 0 7% 0;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  border-top: 1px solid #333333;
  justify-content: space-between;
  border-bottom: 1px solid #333333;
}

.about-me {
  display: flex;
}

.bio {
  padding-right: 15%;
}

.bio h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2%;
}

.bio p {
  font-size: 1rem;
  padding-top: 2%;
}

.profile-pic img {
  height: 300px;
  width: 300px;
  border-radius: 45px;
}

.skill-title p {
  padding-top: 5%;
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: center;
}

.skills {
  display: flex;
  padding-top: 3%;
}

@media only screen and (max-width: 600px) {
  .skills {
    text-align: center;
  }

  .bio {
    padding-right: 0;
  }
}
