.animatedwrapper {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: -100px;
  z-index: 0;
  width: 100%;
  height: 2000px;
  isolation: isolate;
  /* 
  Add fallback background here
  background: url();
  */
}

.staticwrapper {
  overflow: hidden;
  position: absolute;
  // left: 0px;
  top: 600px;
  z-index: 0;
  width: 100%;
  height: 2000px;
  isolation: isolate;
}

@media only screen and (max-width: 600px) {
  .animatedwrapper {
  top: -500px;
  }
  .dot {
    --size: 400px; 
    }
  .static-dot {
    --size: 400px;
  }
  .corner-dot {
    --size: 400px;
  }

}

.static-dot {
  --size: 500px;
  display: block;
  position: absolute;
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 2);
  left: 0;
  top: 300px;
  mix-blend-mode: soft-light;
  border-radius: var(--size);
  filter: blur(calc(var(--size) / 6));
  z-index: 0;
  /* background: rgba(132, 94, 194, 1); */
  background: linear-gradient(135deg, rgba(249,248,113,1) 28%, rgba(255,255,255,0) 99%);
  overflow: hidden;
}

.corner-dot {
  --size: 500px;
  display: block;
  position: absolute;
  width: var(--size);
  height: calc(var(--size) * 2);
  left: calc(var(--size) / 3 * -1);
  top: calc(var(--size) / 3 * -1);
  mix-blend-mode: soft-light;
  border-radius: var(--size);
  filter: blur(calc(var(--size) / 6));
  z-index: -1;
  background: rgb(249,248,113);
  background: linear-gradient(135deg, rgba(249,248,113,1) 28%, rgba(255,255,255,0) 99%);
}

.dot {
  --size: 1000px;
  display: block;
  position: absolute;
  left: calc(var(--size) / 3 * -1);
  top: calc(var(--size) / 3 * -1);
  width: var(--size);
  height: var(--size);
  mix-blend-mode: soft-light;
  border-radius: var(--size);
  filter: blur(calc(var(--size) / 6));
  animation: dot-animation ease-in-out 20s infinite;
  will-change: transform; 
  z-index: 0;
}
 
.dot--one {
  background: #845EC2;
}

.dot--two {
  background:#0081CF;
  animation-delay: -7s;
}

.dot--three {
  background: #008F7A;
  animation-delay: -14s;
}

@keyframes dot-animation {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(calc(var(--size) / 1.5), 0);
  }
  66% {
    transform: translate(0, calc(var(--size) / 1.5));
  }
  100% {
    transform: translate(0, 0);
  }
}
