header {
  padding: 8% 0;
  margin: 0 15%;
  z-index: 2;
  position: relative;
  border-bottom: 1px solid #333333;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  color: #222223;
  padding-bottom: 2%;
}

h2 {
  font-weight: 700;
  font-size: 4rem;
  padding-bottom: 5%;
  color: #222223;
}

p {
  font-size: 1.2rem;
  /* padding-top: 7%; */
  font-weight: 300;
}

#header-subtext {
  line-height: 25px;
}

#callTA {
  padding-top: 4%;
}

@media only screen and (max-width: 800px) {
  header {
    margin: 0 5%;
    text-align: center;
    text-align: center;
  }

  #main-title {
    font-size: 3.5rem;
  }

  #secondary-title {
    font-size: 3rem;
  }

  #header-subtext {
    font-size: 1rem;
  }
}
