.static-dot {
  --small-size: 500px;
  display: block;
  position: absolute;
  width: calc(var(--small-size) * 1.5);
  height: calc(var(--small-size) * 2);
  left: 0;
  top: 0;
  mix-blend-mode: soft-light;
  border-radius: var(--small-size);
  filter: blur(calc(var(--small-size) / 6));
  z-index: 1;
  /* background: rgba(132, 94, 194, 1); */
  background: linear-gradient(135deg, rgba(249,248,113,1) 28%, rgba(255,255,255,0) 99%);
}

.projects {
  position: relative;
  z-index: 2;
  padding: 3% 4%;
}

.project-card {
  display: flex;
  padding: 5% 0;
}

.project-mockup {
  display: flex;
}

// .mockup {
//   // box-shadow: 5px 9px 7px -3px rgb(210 220 205);
// }

.screenshot img {
  width: 600px;
  height: 400px;
}

.mobile {
  width: 250px;
  height: 425px;
  overflow: hidden;
  border-radius: 30px;
  margin: 10px 150px;
}

.mobile a img {
  width: 250px;
  height: 425px;
}

.description {
  padding: 1% 5% 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 3.5rem;
  padding-bottom: 4%;
  margin: 0;
  font-weight: 600;
  border-bottom: 1px solid #333;
}

.project-description {
  /* padding: 5% 0; */
  flex-grow: 1;
}

.project-description p {
  font-size: 1rem;
}

.dev-icons {
  display: flex;
  padding: 2% 0;
  font-size: 2rem;
}

.dev-icons i {
  padding-right: 2%;
}

.project-links {
  padding: 2% 0;
  font-size: 1rem;
}

.project-links a:hover {
  text-decoration: none;
}

.project-links i {
  padding-right: 1%;
}
